<div class="chat-container">
    <div class="chat-box">
      <div *ngFor="let message of messages" class="message">
        <span class="sender">{{ message.sender }}:</span> {{ message.content }}
      </div>
    </div>
    <div class="user-input">
      <!-- <input [(ngModel)]="userInput" type="text" placeholder="Type your message..." /> -->
      <textarea [(ngModel)]="userInput" type="text" placeholder="Type your message..."  name="" id="textarea" rows="4"></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  